<a href="https://colab.research.google.com/github/sad12032/nsjh/blob/main/%E8%BF%B4%E5%9C%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

In [ ]:
list3=range(-4,5,2)
print(list(list3))

In [ ]:
list4=range(-4,6,2)
print(list(list4))

In [ ]:
for n in range(5):
  print(n)

In [ ]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

In [ ]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

In [ ]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

In [ ]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

In [ ]:
n = int(input("請輸入正整數 n 的值："))

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

In [ ]:
for x in range(19):
  print(x)

In [ ]:
for x in range(0,19,2):
  print(x)

In [ ]:
for x in range(20,11,-1):
  print(x)

In [ ]:
for x in range(0,19,-1):
  print(x)

In [ ]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

In [ ]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

In [ ]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")